body {
  background-color: black;
  padding: 0;
  margin: 0;
}

form {
  color: white;
  padding: 10px;
}

.map {
  height: 400px;
  width: 100%;
}

.info {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-family: 'Courier New', Courier, monospace;
}

form input {
  margin-left: auto
}

form input,
form textarea,
form button {
  padding: 5px 10px;
  border-radius: 3px;
  border: 0;
  font-family: inherit;
}

form label,
form .control {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

form textarea {
  display: block;
  width: 100%;
  height: 200px;
}

form button {
  background-color: white;
  margin-right: 10px;
}

form button:active {
  transform: scale(.9);
}

form button[disabled] {
  background-color: gray;
}

.medium-editor-element {
  background-color: white;
}