body {
  background-color: black;
  color: white;
  padding: 0;
}

h2 {
  padding: 1em;
}

.map {
  height: 400px;
  width: 100%;
}

.info {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

form input {
  margin-left: auto
}

form label,
form .control {
  display: flex;
  padding: 5px;
}

form textarea {
  display: block;
  width: 100%;
}

form button {
  background-color: white;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: 0;
  border-radius: 3px;
}